/*///////// FOOTER BAR ///////////*/
.homePage-globalNavigationCards {
  
}


/*///////// HOME PAGE ///////////*/

.homePage-globalNavigationCards {
    max-width: 79.5rem;
    grid-column-gap: 1rem;
    column-gap: 1rem;
}
.homePage-globalNavigationCards-hotel {
    min-width: 8.75rem;    
    height: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgb(37 32 31 / 30%);
    border-radius: 0.75rem;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
.homePage-globalNavigationCards-hotel img {
    width: 100%;
}

.homePage-globalNavigationCards-rentCars {
    min-width: 8.75rem;
    height: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgb(37 32 31 / 30%);
    border-radius: 0.75rem;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
.homePage-globalNavigationCards-rentCars img {
    width: 100%;
}

.homePage-globalNavigationCards-Explore {
    min-width: 8.75rem;
    height: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgb(37 32 31 / 30%);
    border-radius: 0.75rem;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
.homePage-globalNavigationCards-Explore img {
    width: 100%;
}

